body {
    padding: 50px 5vw;
}

.header {
    display: flex;
    justify-content: space-between;
}


h1 {
    margin: 0.3em 0;
    font-size: 4rem;
    font-family: garamond;
    font-weight: bold;
}

.today {
    display: flex; /* Flexboxを使用 */
    align-items: center; /* 垂直方向に中央寄せ */
    justify-content: center; /* 水平方向に中央寄せ */
}

hr {
    margin: 3px 0;
}

.information {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.japanese {
    margin-right: 1em;
    color: #808080;
}

.english {
    margin-left: 1em;
    color: #808080;
}

.ruby {
    margin-top: 4vh;
    margin-bottom: 0;
    font-family: "Inter";
    font-weight: bold;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}

textarea {
    resize: none;
    width: calc(100% - 30px);
    height: 40vh;
    padding: 15px;

    border: #808080 1px solid;
    border-radius: 15px;
}

.result {
    resize: none;
    width: calc(100% - 30px);
    height: 40vh;
    padding: 15px;

    border: #808080 1px solid;
    border-radius: 15px;
}

button {
    width: 12vw;
    height: 50px;
    background-color: #fff;
    border: #808080 1px solid;
    border-radius: 15px;
}